<h1>All Bogs</h1>

<% @bogs.each do |bog| %>
  <%# Maintaining proper and consistent indentation across loops, divs, etc will help %>
  <%# keep your files easier to read and less confusing once you views get more complex. %>
  <h3><%= bog.name %></h3>
<% end %>
