<body>
  <%= link_to "View all frogs in existence", '/frogs' %><br>
  <%= link_to "Create new bog", '/bogs/new' %><br>

    <h1>All Bogs </h1>
      <% @bogs.each do |bog| %>
        <h3><%= bog.name %></h3>
        <p>Created on: <%= bog.created_at %></p>
      <% end %>
</body>
