<%= link_to "View all frogs in existence", '/frogs' %><br>

  <h1>Meet <%= @froge.name %>!</h1>
    <p>(they are a frog.)</p>

  <p>Age: <%= @froge.age %></p>
  <p>Currently on a log? <%= @froge.singing %></p>
